@media only screen and (min-width:300px) and (max-width:559px) {
body {
	background: url("../src/bl.png") left top  fixed;
	background-size: cover;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
}
#logo {
	position:absolute;
	left:50%;
	margin-left:-180px;
	min-width:350px;
	max-width:350px;
}
.btn-xlarge {
	padding: 18px 28px;
	font-size: 25px; 
	line-height: normal;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.share{
	position:absolute;
	left:50%;
	margin-left:-160px;
	bottom:20%;
}
.care{
	position:absolute;
	right:50%;
	margin-right:-175px;
	bottom:5%;
}
}

@media only screen and (min-width:560px) and (max-width:1424px) {
body {
	background: url("../src/bl.png") left top  fixed;
	background-size: cover;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
}
#logo {
	position:absolute;
	left:50%;
	margin-left:-200px;
	min-width:400px;
	max-width:500px;
}
.btn-xlarge {
	padding: 18px 28px;
	font-size: 40px; //change this to your desired size
	line-height: normal;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.share{
	position:absolute;
	left:50%;
	margin-left:-250px;
	bottom:40%;
}
.care{
	position:absolute;
	right:50%;
	margin-right:-255px;
	bottom:10%;
}
}
@media only screen and (min-width:1425px){

body {
	background: url("../src/bl.png") left top  fixed;
	background-size: cover;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
}
#logo {
	position:absolute;
	left:50%;
	margin-left:-250px;
	min-width:500px;
	max-width:500px;
}
.btn-xlarge {
	padding: 18px 28px;
	font-size: 40px; //change this to your desired size
	line-height: normal;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.share{
	position:absolute;
	left:50%;
	margin-left:-600px;
	bottom:10%;
}
.care{
	position:absolute;
	right:50%;
	margin-right:-600px;
	bottom:10%;
}
}